@model GaoQue.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Navbar Start -->
@await Html.PartialAsync("_MenuPartial")
<!-- Navbar End -->

<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div class="card mt-6" style="width: 48%;">
            <div class="card-header bg-primary text-white text-center">
                Giỏ hàng của bạn
            </div>
            <div class="card-body">
                @if (Model.CartItems.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr style="text-align:center;font-weight:bold">
                                    <th>Tên SP</th>
                                    <th>Ảnh SP</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <td>@item.Product.Name</td>
                                        <td>
                                            <img src="~/img/@item.Product.ImageUrl" width="100" />
                                        </td>
                                        <td>
                                            <input type="number" class="txtQuantity" data-id="@item.Product.Id" value="@item.Quantity" min="1" oninput="validateQuantity(this)" style="width: 60px;" />
                                        </td>
                                        <td style="text-align:center">
                                            @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Product.Price.GetValueOrDefault(0))
                                        </td>
                                        <td style="text-align:center">
                                            @{
                                                decimal totalPrice = item.Product.Price.GetValueOrDefault(0) * item.Quantity;
                                                if (item.Quantity >= 1)
                                                {
                                                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", totalPrice)
                                                }
                                                else
                                                {
                                                    <span>Invalid Quantity</span>
                                                }
                                            }
                                        </td>
                                        <td><a href="#" data-id="@item.Product.Id" class="btn-delete">Xoá</a></td>
                                    </tr>
                                }


                            </tbody>

                        </table>
                        <div class=" text-center">
                            <strong> Tông tiền: </strong>
                            @{
                                decimal totalAmount = 0;
                                foreach (var item in Model.CartItems)
                                {
                                    decimal itemTotal = item.Product.Price.GetValueOrDefault(0) * item.Quantity;
                                    totalAmount += itemTotal;
                                }
                            }
                            @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", totalAmount)
                        </div>
                        <div class="card-body text-center">
                            <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
                            <button id="btnUpdate" class="btn btn-primary">Cập nhật giỏ hàng</button>
                            <button id="btnDeleteAll" class="btn btn-primary">Xoá giỏ hàng</button>
                        </div>
                    </div>
                }
                else
                {
                    <div style="margin-top:10px;margin-bottom:10px;margin-left:auto; margin-right:auto">
                        <span class="alert alert-danger">Bạn chưa có sản phẩm nào trong giỏ hàng</span>
                    </div>
                }
            </div>
        </div>

        <div class="card mt-6" style="width: 48%;">
                <div class="card-header bg-primary text-white text-center">
                    Thanh toán
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-body">
                        <strong>Thông tin giao hàng</strong>
                        <form method="post" onsubmit="return validateForm();" action="/Cart/ProcessPayment">
                            <div class="form-group row card-body">
                                <label for="fullName" class="col-sm-3 col-form-label">Họ và tên:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="fullName" name="fullName" value="@Model.CurrentUser.FullName">
                                </div>
                            </div>
                            <div class="form-group row card-body">
                                <label for="Username" class="col-sm-3 col-form-label">Địa chỉ người nhận:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.CurrentUser.Address">
                                </div>
                            </div>
                            <div class="form-group row card-body">
                                <label for="ShippingAddress" class="col-sm-3 col-form-label">Địa chỉ giao hàng:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ShippingAddress" name="ShippingAddress">
                                </div>
                            </div>
                            <div class="form-group row card-body">
                                <label for="Notes" class="col-sm-3 col-form-label">Ghi chú:</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="Notes" name="Notes"></textarea>
                                </div>
                            </div>
                            <div class="form-group row card-body">
                                <strong>Hình thức thanh toán:</strong>
                                <div class="col-sm-9">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="cashPayment" name="PaymentMethod" value="cash" checked>
                                        <label class="form-check-label" for="cashPayment">Thanh toán bằng tiền mặt</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="vnPayPayment" name="PaymentMethod" value="vnPay">
                                        <label class="form-check-label" for="vnPayPayment">Thanh toán bằng ví VNPAY</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary">Thanh toán</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        function validateQuantity(input) {
            if (input.value < 1) {
                input.value = 1;
            }
        }
    </script>

        <script>
            function validateForm() {
                var shippingAddress = document.getElementById("ShippingAddress").value;
                var notes = document.getElementById("Notes").value;

                if (shippingAddress.trim() === "" || notes.trim() === "") {
                    alert("Vui lòng nhập địa chỉ giao hàng và ghi chú.");
                    return false; // Ngăn chặn sự kiện submit mặc định
                }
                return true; // Cho phép submit nếu dữ liệu đã được nhập
            }
        </script>

}