@model IEnumerable<GaoQue.Models.Order>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="container">
    <h2>Đơn Hàng</h2>
    <div class="card">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShippingAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="clickable-row" onclick="window.location='@Url.Action("Display", new { id = item.Id })';">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="clickable-row" onclick="window.location='@Url.Action("Display", new { id = item.Id })';">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                        </td>
                        <td class="clickable-row" onclick="window.location='@Url.Action("Display", new { id = item.Id })';">
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td class="clickable-row" onclick="window.location='@Url.Action("Display", new { id = item.Id })';">
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td class="clickable-row" onclick="window.location='@Url.Action("Display", new { id = item.Id })';">
                            @Html.DisplayFor(modelItem => item.ShippingAddress)
                        </td>
                        <td class="clickable-row" onclick="window.location='@Url.Action("Display", new { id = item.Id })';">
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td class="clickable-row" onclick="window.location='@Url.Action("Display", new { id = item.Id })';">
                            @if (item.Status == 1)
                            {
                                <span class="badge badge-warning">Chờ giao hàng</span>
                            }
                            else
                            {
                                <span class="badge badge-success">Đã giao hàng</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod)
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info" href="@Url.Action("Display", "OrderManager", new { id = item.Id })">Chi Tiết</a>
                            <a class="btn btn-sm btn-info btnCapNhat" data-id="@item.Id">Hoàn Thành</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderId" value="0" />
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddTrangThai">
                        <option value="2">
                            Đã thanh toán
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuu">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnCapNhat', function () {
                var id = $(this).data("id");
                $('#txtOrderId').val(id);
                $('#modal-default').modal('show');
            });

            $('body').on('click', '#btnLuu', function () {
                console.log("Button clicked!"); // Gỡ lỗi: Kiểm tra xem sự kiện click được kích hoạt khi nhấp vào nút
                var id = $('#txtOrderId').val();
                console.log(id);
                var tt = $('#ddTrangThai').val();
                console.log(tt);
                $.ajax({
                    url: '/Admin/orderManager/UpdateTT',
                    type: 'POST',
                    data: { id: id, trangthai: tt },
                    success: function (res) {
                        console.log(res); // Kiểm tra dữ liệu trả về từ action controller
                        if (res.success) { // Sử dụng res.success thay vì res.Success
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
}